<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <p>Your guess was:  <%= @guess %> </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <p><h1> <%= @score[:message] %></h1></p>
        <p>It took you <%= @score[:time] %></p>
        <p>This word means: <%= @score[:translation] %></p>
        <p>Your score is <%= @score[:score]  %></p>
      </div>
    </div>
  </div>

</div>

